/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    /*font-family: 'open_sansregular';*/
    background: #ffffff;
    font-size: 100%;
    height: 100%;
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}

input {
    line-height: 2 !important;
    padding-left: 8px;
}

.container {
    min-width: 1280px !important;
    min-height: 600px !important;
}

.header_container {
    min-width: 1280px !important;
    background: #323232;
    height: 68px;
    padding: 14px 5% 0 5%;
}

.header_bg {
    /*background: #323232;*/
    width: 100%;
    height: 68px;
    position: absolute;
    z-index: 999999;
}

.dropdown-menu {
    position: relative !important;
    float: none !important;
}

.header_title {
    margin-left: 40px;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin-right: 40px;
}

.select-serial {
    margin-bottom: 14px;
    width: 200px;
    float: left !important;
}

.tab-area {
    width: 95%;
}

a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

/*.nav-tabs{*/
    /*border:none !important;*/
    /*border-bottom: 1px solid #e4e4e4 !important;*/
/*}*/
.nav-tabs li.active a {
    border-top: 3px solid #ed6b75 !important;
    border-radius: 0 !important;
}

.nav-tabs li a {
    color: #000;
}

.nav-tabs li a i{
    display: inline-block;
    text-align: center;
    margin-right:10px;
}
.tab-content{
    line-height: 22px;
    box-shadow: 0 1px 0 #808080;
    margin-bottom: 15px;
    height: 400px;
}
.tab-content table th, .tab-content table td{
    text-align: center;
    height: 29px;
}

.table-title {
    font-weight: 500;
}

.title {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    width: 100px;
    display: inline-block;
}

.value {
    font-size: 16px;
    line-height: 28px;
    display: inline-block;
}

.unit {
    margin-left: 10px;
    font-style: italic
}

.refresh-button {
    float: right;
    margin-top: -4px;
}

.split {
    margin-bottom: 6px;
}

.title2 {
    font-size: 16px;
}

.unit2 {
    padding-left: 4px!important;
    padding-right: 0!important;
    vertical-align: center;
    margin-top: 4px;
    font-style: italic
}

.margin-top-15 {
    margin-top: 15px;
}

.table-input {
    width: 60%;
    margin-left: 10%;
}

.write-btn {
    float: right;
    margin-right: 30px;
}

.todo {
    height: 300px;
    padding: 140px 40%;
    font-size: 28px;
}

.log-area {
    line-height: 24px;
    overflow: auto;
    height: 350px;
}

.log-item {
    word-wrap: break-word;
}

.changed {
    border: 2px solid #00c689;
}

.error_input {
    border: 2px solid #E43035;
}

.modal-dialog {
    margin-top: 300px !important;
}

@media only screen and (max-width: 767px){
    .nav-tabs li{
        width:100%;
        margin-bottom: 10px;
    }
    .nav-tabs li a{
        padding: 15px;
    }
    .nav-tabs li.active a,
    .nav-tabs li.active a:focus,
    .nav-tabs li.active a:hover{
        padding: 15px;
        margin-top: 0;
    }
}

.page-scroll a {
    font-size: 16px;
}

.selected {
    border-bottom: 2px solid #ffffff;
}

.control-label {
    font-size: 14px;
    padding-top: 8px;
    text-align: right;
}

.result-block {
    font-size: 16px;
    color: red;
}

.icheck-inline {
    margin-top: 8px;
}

.icheck-inline > label {
    display: inline-block;
    margin-left: 15px;
}

/* start footer */
.footer_bg {
    background: #353535;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 64px;
    padding: 20px;
    right: 200px;
}

.contact_left h3 {
    font-family: 'Kreon', serif;
    font-size: 24px;
    color: #ffffff;
    text-transform: capitalize;
}

.contact_left p {
    font-size: 14px;
    color: #999999;
    line-height: 1.5em;
}

.contact_left form input[type="text"], .contact_left form textarea {
    /*font-family: 'open_sansregular';*/
    margin: 20px 0;
    box-shadow: none;
    border: 1px solid #303030;
    background: #454545;
    color: #9C9C9C;
    line-height: 1.8em;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    outline: none;
    -webkit-appearance: none;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}

.contact_left form textarea {
    resize: none;
    height: 160px;
}

.contact_left form input[type="text"]:focus, .contact_left form textarea:focus {
    border: 1px solid #2EB398;
}

.contact_left form input[type="text"]:hover, .contact_left form textarea:hover {
    border-color: #2EB398;
}

.contact_right {
    margin-top: 8%;
}

.contact_right p {
    color: #c9c9c9;
    font-size: 13px;
    line-height: 1.8em;
    margin: 5px 0 0;
    text-align: justify;
}

.contact_right span {
    color: #ffffff;
    font-size: 14px;
}

.address li {
    display: block;
    margin: 10px 0;
}

.address li i {
    color: #2EB398;
    font-size: 20px;
    vertical-align: middle;
}

.address {
    margin-top: 20px;
}

.address li span {
    color: #f0f0f0;
    font-size: 14px;
    margin-left: 15px;
}

.address li a {
    color: #f0f0f0;
    font-size: 14px;
    margin-left: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.address li a:hover {
    text-decoration: none;
    color: #2EB398;
}

.contact_left form input[type="submit"] {
    /*font-family: 'open_sansregular';*/
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    background: #2EB398;
    text-transform: uppercase;
    font-weight: 100;
    border: none;
    color: #ffffff;
    padding: 14px 24px;
    font-size: 13px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.contact_left form input[type="submit"]:hover {
    background: #2B9C85;
}

/* start footer */
.footer1_bg {
    background: #222222;
    /*height: 64px;*/
    width: 100%;
    position: fixed;
    bottom: 0;
}

.copy p {
    color: #c9c9c9;
    font-size: 14px;
    line-height: 1.8em;
    margin: 0;
}

.copy p a {
    /*color: #2EB398;*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.copy p a:hover {
    color: #c9c9c9;
    text-decoration: none;
}