@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    /*font-family: 'open_sansregular';*/
    background: #ffffff;
    font-size: 100%;
    height: 100%;
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}

input {
    line-height: 2 !important;
    padding-left: 8px;
}

.container {
    min-width: 1280px !important;
    min-height: 600px !important;
}

.header_container {
    min-width: 1280px !important;
    background: #323232;
    height: 68px;
    padding: 14px 5% 0 5%;
}

.header_bg {
    /*background: #323232;*/
    width: 100%;
    height: 68px;
    position: absolute;
    z-index: 999999;
}

.dropdown-menu {
    position: relative !important;
    float: none !important;
}

.header_title {
    margin-left: 40px;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin-right: 40px;
}

.select-serial {
    margin-bottom: 14px;
    width: 200px;
    float: left !important;
}